/* Basic */
body { background: #FF1 url(../images/bg.png); }
a { color: #858C4D; text-decoration:none;}
a:hover { color: #A69B63; text-decoration:underline;}

.widget_woo_twitter ul li a { color: #A69B63; }

/* Header */
#header-left { background: #485953; }
#header-right #tagline { background: #485953; }

/* Navigation */ 
.nav li ul { background: #EAF2E4; border: 1px solid #A3ABAF; }
.nav a { color: #1B2B32; display: block; }
#navigation .nav li ul li a { border-bottom: 1px solid #DBE2D4; }

/* Author Sorter */
#author-sorter ul li a:hover img, #author-sorter ul li.now a img { border: 1px solid #9CA64E; }
.author-posts .author-post-meta .date { background: #9CA64E; }

/* Sidebar */
#sidebar { background: #EAF2E4; }
#sidebar .primary { border-left: 5px solid #DBE2D4; }

.widget ul li a { color: #A69B63; }
.widget ul li a:hover { text-decoration: underline; color: #37646F; }

/* Footer */
#footer-widgets { background: #EAF2E4; border-top: 5px solid #DBE2D4;}
#footer { background: #485953; }
#footer a { color: #9CA64E; }

/* Widgets */ 
#tabs .inside li a { color: #37646F; }
#tabs .inside li a:hover { color: #37646F; }