/* Basic */
body { background: #BAD6E4 url(../images/bg.png); }
a { color: #427CA3; text-decoration:none;}
a:hover { color: #BAD6E4; text-decoration:underline;}

.widget_woo_twitter ul li a { color: #B22E2F; }

/* Header */
#header-left { background: #427CA3; }
#header-right #tagline { background: #427CA3; }

/* Navigation */ 
.nav li ul { background: #EDF3F6; border: 1px solid #E3E9EC; }
.nav a { color: #1B2B32; display: block; }
#navigation .nav li ul li a { border-bottom: 1px solid #E3E9EC; }

/* Author Sorter */
#author-sorter ul li a:hover img, #author-sorter ul li.now a img { border: 1px solid #BAD6E4; }
.author-posts .author-post-meta .date { background: #BAD6E4; }

/* Sidebar */
#sidebar { background: #EDF3F6; }
#sidebar .primary { border-left: 5px solid #E3E9EC; }

.widget ul li a { color: #427CA3; }
.widget ul li a:hover { text-decoration: underline; color: #37646F; }

/* Footer */
#footer-widgets { background: #EDF3F6; border-top: 5px solid #E3E9EC;}
#footer { background: #427CA3; }
#footer a { color: #BAD6E4; }

/* Widgets */ 
#tabs .inside li a { color: #37646F; }
#tabs .inside li a:hover { color: #37646F; }