/* Basic */
body { background: #C6F2A2 url(../images/bg.png); }
a { color: #ADC482; text-decoration:none;}
a:hover { color: #918B61; text-decoration:underline;}

.widget_woo_twitter ul li a { color: #B22E2F; }

/* Header */
#header-left { background: #918B61; }
#header-right #tagline { background: #918B61; }

/* Navigation */ 
.nav li ul { background: #FFFDD2; border: 1px solid #EEECC4; }
.nav a { color: #1B2B32; display: block; }
#navigation .nav li ul li a { border-bottom: 1px solid #EEECC4; }

/* Author Sorter */
#author-sorter ul li a:hover img, #author-sorter ul li.now a img { border: 1px solid #DBC500; }
.author-posts .author-post-meta .date { background: #DBC500; }

/* Sidebar */
#sidebar { background: #FFFDD2; }
#sidebar .primary { border-left: 5px solid #EEECC4; }

.widget ul li a { color: #ADC482; }
.widget ul li a:hover { text-decoration: underline; color: #918B61; }

/* Footer */
#footer-widgets { background: #FFFDD2; border-top: 5px solid #EEECC4;}
#footer { background: #918B61; }
#footer a { color: #DBC500; }

/* Widgets */ 
#tabs .inside li a { color: #37646F; }
#tabs .inside li a:hover { color: #37646F; }