/* Basic */
body { background: #A2FDF5 url(../images/bg.png); }
a { color: #1CCDC7; text-decoration:none;}
a:hover { color: #27EDDF; text-decoration:underline;}
.widget_woo_twitter ul li a { color: #1CCDC7; }

/* Header */
#header-left { background: #1C1C1C; }
#header-right #tagline { background: #1C1C1C; }

/* Navigation */ 
.nav li ul { background: #F0F0F0; border: 1px solid #E9E9E9; }
.nav a { color: #1C1C1C; display: block; }
#navigation .nav li ul li a { border-bottom: 1px solid #E9E9E9; }

/* Author Sorter */
#author-sorter ul li a:hover img, #author-sorter ul li.now a img { border: 1px solid #27EDDF; }
.author-posts .author-post-meta .date { background: #27EDDF; }

/* Sidebar */
#sidebar { background: #F0F0F0; }
#sidebar .primary { border-left: 5px solid #E9E9E9; }

.widget ul li a { color: #1C1C1C; }
.widget ul li a:hover { text-decoration: underline; color: #1CCDC7; }

/* Footer */
#footer-widgets { background: #F0F0F0; border-top: 5px solid #E9E9E9;}
#footer { background: #1C1C1C; }
#footer a { color: #27EDDF; }

/* Widgets */ 
#tabs .inside li a { color: #37646F; }
#tabs .inside li a:hover { color: #37646F; }