/* Basic */
body { background: #D8BD9D url(../images/bg.png); }
a { color: #B22E2F; text-decoration:none;}
a:hover { color: #37646F; text-decoration:underline;}

.widget_woo_twitter ul li a { color: #B22E2F; }

/* Header */
#header-left { background: #7B2E2C; }
#header-right #tagline { background: #7B2E2C; }

/* Navigation */ 
.nav li ul { background: #FFE0E3; border: 1px solid #E8CBCE; }
.nav a { color: #1B2B32; display: block; }
#navigation .nav li ul li a { border-bottom: 1px solid #E8CBCE; }

/* Author Sorter */
#author-sorter ul li a:hover img, #author-sorter ul li.now a img { border: 1px solid #B22E2F; }
.author-posts .author-post-meta .date { background: #B22E2F; }

/* Sidebar */
#sidebar { background: #FFE0E3; }
#sidebar .primary { border-left: 5px solid #E8CBCE; }

.widget ul li a { color: #B22E2F; }
.widget ul li a:hover { text-decoration: underline; color: #37646F; }

/* Footer */
#footer-widgets { background: #FFE0E3; border-top: 5px solid #E8CBCE;}
#footer { background: #7B2E2C; }
#footer a { color: #B22E2F; }

/* Widgets */ 
#tabs .inside li a { color: #37646F; }
#tabs .inside li a:hover { color: #37646F; }