doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Denis Samardjiev')
    meta(name='description', content='Raleway | Mega Bootstrap Template')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    title 1st Choice Business Solutions 

    link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='js/royal_preloader.min.js')

    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet', title='main-css')
    link(href='css/bootstrap-social.css', rel='stylesheet')
    link(href='css/animate.min.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/jquery.snippet.css', rel='stylesheet')
    link(href='css/buttons.css', rel='stylesheet')
    link(href='css/colors/red.css', rel='stylesheet')

    link(href='css/ionicons.min.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='css/magnific-popup.css', rel='stylesheet', type='text/css')

  body.royal_preloader.scrollreveal

    #royal_preloader

    #bg-boxed
      .boxed
        .mt100.mb100
          .container
            .row
              // Begin Login
              .col-sm-12.text-center.flipInY-animated
                p
                  mark.lead.heavy.no-margin The page could not be found.
                .error-404
                  span.ion-alert-circled
                  | 404
                  p.lead
                    | Whoops! Seems you've ended up in the wrong place. You should go 
                    a(href='index.html') home
                    | .

    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')

    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')

