extends includes/layout

block content
  .rev_slider_wrapper
      #slider1.rev_slider(data-version='5.0')
        ul
          // Slide 1
          li(data-delay='9000', data-description='', data-easein='default', data-easeout='default', data-masterspeed='default', data-param1='test', data-rotate='0', data-slotamount='default', data-title='Raleway Intro', data-thumb='images/backgrounds/bg1.png', data-transition='slideremoveup')
            // MAIN IMAGE
            img(alt='', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', height='800', src='images/backgrounds/bg1.png', style='background-color:#000;', width='1732')
            .tp-caption.color-main.fa.fa-adn(data-x='center', data-y='105', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='y:10px;opacity:0;s:700;e:Power3.easeOut;', data-transform_out='y:10px;opacity:0;s:500;e:Power2.easeInOut;', style="font-family:'FontAwesome';font-size:71px;")
            .tp-caption(data-x='center', data-y='196', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='y:50px;opacity:0;s:700;e:Power3.easeOut;', data-transform_out='y:50px;opacity:0;s:500;e:Power2.easeInOut;', style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;")
              | Welcome to 
              span.heavy 1st Choice
              | .
            .tp-caption(data-x='center', data-y='295', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='y:150px;opacity:0;s:700;e:Power3.easeOut;', data-transform_out='y:150px;opacity:0;s:500;e:Power2.easeInOut;', style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;")
              p
                | 1st Choice Business Solutions is your best stop for MLM's
                br
                | 100+ pages of features, components, and pages.
          // Slide 2
          li(data-delay='10000', data-description='Some Description', data-easein='default', data-easeout='default', data-masterspeed='default', data-param1='test', data-rotate='0', data-slotamount='default', data-thumb='images/backgrounds/bg13.jpg', data-title='Features', data-transition='slideremoveleft')
            // MAIN IMAGE
            img(alt='', data-bgfit='cover', data-bgposition='center center', data-bgrepeat='no-repeat', data-no-retina='', height='800', src='images/backgrounds/bg13.jpg', style='background-color:#000;', width='1732')
            .tp-caption(data-x='320', data-y='105', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='y:10px;opacity:0;s:700;e:Power3.easeOut;', data-transform_out='y:10px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:35px;font-family:'Raleway' sans-serif;font-weight:200;border:2px solid #fff;padding:0 17px;")
              | A variety of features, for 
              strong various
              |  needs.
            .tp-caption.background-mainsub(data-x='320', data-y='195', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:100px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:100px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%")
              span.fa.fa-check
            .tp-caption(data-x='390', data-y='200', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:130px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:130px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;")
              | Fully responsive, on 
              strong all
              |  devices.
            .tp-caption.background-mainsub(data-x='320', data-y='260', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:160px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:160px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%")
              span.fa.fa-check
            .tp-caption(data-x='390', data-y='265', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:190px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:190px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;")
              | A variety of pages for a multi purpose website.
            .tp-caption.background-mainsub(data-x='320', data-y='324', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:220px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:220px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%")
              span.fa.fa-check
            .tp-caption(data-x='390', data-y='329', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='x:260px;opacity:0;s:1200;e:Power3.easeOut;', data-transform_out='y:260px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;")
              | Easy to use and customize. + labeled clean code
            .tp-caption(data-x='325', data-y='395', data-speed='600', data-start='1200', data-end='9400', data-endspeed='600', data-transform_idle='o:1;', data-transform_in='y:70px;opacity:0;s:1000;e:Power3.easeOut;', data-transform_out='y:70px;opacity:0;s:500;e:Power2.easeInOut;', style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;")
              strong + and much more
          // Slide 3
          li(data-delay='11000', data-description='Raleway Bootstrap Template', data-transition='zoomin', data-easein='default', data-easeout='default', data-masterspeed='default', data-param1='test', data-rotate='0', data-thumb='images/backgrounds/bg9.jpg', data-slotamount='default', data-title='Flexibility')
            .rs-background-video-layer(data-forcerewind='on', data-volume='mute', data-videowidth='100%', data-videoheight='100%', data-videomp4='videos/Working-Space.mp4', data-videopreload='preload', data-videoloop='loopandnoslidestop', data-forcecover='1', data-aspectratio='16:9', data-autoplay='true', data-autoplayonlyfirsttime='false', data-nextslideatend='true')
            .tp-caption.NotGeneric-Title.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['0','0','0','0']", data-fontsize="['70','70','70','45']", data-lineheight="['70','70','70','50']", data-whitespace='nowrap', data-transform_idle='o:1;', data-transform_in='z:0;rX:0;rY:0;rZ:5deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1000', style='z-index: 6; white-space: nowrap;')
              | MANY OPTIONS
            .tp-caption.NotGeneric-SubTitle.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['52','52','52','51']", data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='1500', style='z-index: 7; white-space: nowrap;')
              | AND CUSTOM PAGES + COMPONENTS
            .tp-caption.NotGeneric-Icon.tp-resizeme.rs-parallaxlevel-0(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-68','-68','-68','-68']", data-transform_idle='o:1;', data-transform_in='y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_in='x:0px;y:[100%];s:inherit;e:inherit;', data-mask_out='x:inherit;y:inherit;s:inherit;e:inherit;', data-start='2000', style='z-index: 8;font-size:50px;line-height:52px; white-space: nowrap;')
              i.fa.fa-gears

    .background-light-grey.pt40.pb40.border-bottom
      .container
        .row
          // Content 1
          .col-sm-4.fadeInUp-animated.text-center
            span.ion-beaker.bordered-icon-sm.bordered-icon-color
            h4.mt15 We do parallax.
            p.p15xs.no-margin
              | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
          // Content 2
          .col-sm-4.fadeInUp-animated.text-center.mt20-xs
            span.ion-beer.bordered-icon-sm.bordered-icon-color
            h4.mt15 We do animations.
            p.p15xs.no-margin
              | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.
          // Content 3
          .col-sm-4.fadeInUp-animated.text-center.mt20-xs
            span.ion-help-buoy.bordered-icon-sm.bordered-icon-color
            h4.mt15 We do responsive.
            p.p15xs.no-margin
              | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.

    .mt40.mb40
      .container
        // Begin Title
        .row
          .col-sm-12.mb20
            .heading
              h4 About us
        // Begin Accordion Row
        .row
          .col-sm-6(data-sr='enter left')
            // Begin Accordion
            #accordion.panel-group
              // Item 1
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                      | We have over 
                      b 30+
                      |  features pages.
                // /panel heading
                #collapseOne.panel-collapse.collapse.in
                  .panel-body
                    | We built this template keeping in mind the features you might need on your next project. Giving you a variety of components to utilize, a variety of pages to build on, and all of the plugins you might need, already configured for Bootstrap 3. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                // /panel collapse
              // /panel
              // Item 2
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                      | We like pre built 
                      i components
                      | .
                // /panel heading
                #collapseTwo.panel-collapse.collapse
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                // /panel collapse
              // /panel
              // Item 3
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                      | We like to sleep.
                // /panel heading
                #collapseThree.panel-collapse.collapse
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                // /panel collapse
              // /panel
            // /panel group
            // Button
            .text-center
              a.btn.btn-rw.btn-primary(href='pages-about-us-team.html')
                | About us
            // /button
          // /column
          // Begin Image
          .col-sm-6(data-sr='enter bottom')
            img.img-responsive.showcase-image(src='images/showcase.png', alt='Responsive Showcase 2')

    section.content-bordered.background-light-grey.pt40.pb40
      .container
        // Begin Title
        .row
          .col-xs-12
            p.lead.text-center
              | The 
              b
                mark Knuckleheads
            hr.double-hr.mt30.mb30(style='width:400px;')
        // Begin 6 Team Members
        .row.team-content-holder
          // Begin Team Member 1
          .team-member-holder(data-sr='enter left')
            .col-sm-1
              // Image
              img.img-responsive.br-2.team-member-img(src='images/team-member-1.jpg', alt='Team Member 1')
            .col-sm-3
              // Name
              h4.team-member-name James Adams
              // About
              .team-description
                p
                  | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.
                // Social
                a(href='#')
                  span.ion-social-twitter.team-ico.mr15
                a(href='#')
                  span.ion-social-facebook.team-ico.mr15
                a(href='#')
                  span.ion-social-googleplus-outline.team-ico

          .team-member-holder.mt30-xs(data-sr='enter top')
            .col-sm-1
              // Image
              img.img-responsive.br-2.team-member-img(src='images/team-member-2.jpg', alt='Team Member 2')
            .col-sm-3
              // Name
              h4.team-member-name Steven Rolo
              // About
              .team-description
                p
                  | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.
                // Social
                a(href='#')
                  span.ion-social-twitter.team-ico.mr15
                a(href='#')
                  span.ion-social-facebook.team-ico.mr15
                a(href='#')
                  span.ion-social-googleplus-outline.team-ico

          .team-member-holder.mt30-xs(data-sr='enter right')
            .col-sm-1
              // Image
              img.img-responsive.br-2.team-member-img(src='images/team-member-3.jpg', alt='Team Member 3')
            .col-sm-3
              // Name
              h4.team-member-name John Bender
              // About
              .team-description
                p
                  | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi.
                // Social
                a(href='#')
                  span.ion-social-twitter.team-ico.mr15
                a(href='#')
                  span.ion-social-facebook.team-ico.mr15
                a(href='#')
                  span.ion-social-googleplus-outline.team-ico

          .team-member-holder.mt30-xs(data-sr='enter bottom')
            .col-sm-2.mt30-lg
              // Image
              img.img-responsive.br-2.team-member-img(src='images/team-member-4.jpg', alt='Team Member 1')
            .col-sm-4.mt30-lg
              // Name
              h4.team-member-name Louis Stevens
              // About
              .team-description
                p
                  | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia. Nam bibendum in mauris at sollicitudin lacinia.
                // Social
                a(href='#')
                  span.ion-social-twitter.team-ico.mr15
                a(href='#')
                  span.ion-social-facebook.team-ico.mr15
                a(href='#')

          .team-member-holder.mt30-xs(data-sr='enter bottom')
            .col-sm-2.mt30-lg
              // Image
              img.img-responsive.br-2.team-member-img(src='images/team-member-3.jpg', alt='Team Member 2')
            .col-sm-4.mt30-lg
              // Name
              h4.team-member-name John Doe
              // About
              .team-description
                p
                  | Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia. Nam bibendum in mauris at sollicitudin lacinia.
                // Social
                a(href='#')
                  span.ion-social-twitter.team-ico.mr15
                a(href='#')
                  span.ion-social-facebook.team-ico.mr15
                a(href='#')
                  span.ion-social-googleplus-outline.team-ico

    section.mt40.mb30
      .container
        // Begin Title
        .row
          .col-xs-12
            p.lead.text-center
              | The 
              b
                mark Recent
            hr.double-hr.mt30.mb30(style='width:400px;')
        .row
          ul#recent-projects-circle.col-sm-12.text-center.no-margin.list-unstyled
            // Begin Item 1
            li.item.col-sm-3.col-xs-6(onclick='', data-sr='enter bottom')
              .view-circle.img-circle.image-hover-1
                // Project Thumb
                img.img-responsive(src='images/projects/thumbs/illustration1.jpg', alt='...')
                .mask.img-circle
                  .image-hover-content
                    // Zoom + Project Link
                    a.info.image-zoom-link(href='images/projects/illustration1.jpg')
                      .image-icon-holder
                        span.ion-ios7-search.image-icons
                    a.info(href='portfolio-single-project.html')
                      .image-icon-holder
                        span.ion-link.image-icons
                  // /portfolio hover content
                // /mask
              // /portfolio hover
              .portfolio-text.mt20.mb5
                h3.portfolio-title
                  a(href='portfolio-single-project.html') Beach
                .project-category Print

            li.item.col-sm-3.col-xs-6(onclick='', data-sr='enter bottom')
              .view-circle.img-circle.image-hover-1
                // Project Thumb
                img.img-responsive(src='images/projects/thumbs/web1.jpg', alt='...')
                .mask.img-circle
                  .image-hover-content
                    a.popup-vimeo.info(href='https://vimeo.com/80836225')
                      .image-icon-holder
                        span.ion-ios7-search.image-icons
                    a.info(href='portfolio-single-project.html')
                      .image-icon-holder
                        span.ion-link.image-icons
                  // /portfolio hover content
                // /mask
              // /portfolio hover
              .portfolio-text.mt20.mb5
                h3.portfolio-title
                  a.popup-vimeo(href='https://vimeo.com/80836225') Wyoming
                .project-category Web

            li.item.col-sm-3.col-xs-6(onclick='', data-sr='enter bottom')
              .view-circle.img-circle.image-hover-1
                // Project Thumb
                img.img-responsive(src='images/projects/thumbs/print1.jpg', alt='...')
                .mask.img-circle
                  .image-hover-content
                    // Zoom + Project Link
                    a.info.image-zoom-link(href='images/projects/print1.jpg')
                      .image-icon-holder
                        span.ion-ios7-search.image-icons
                    a.info(href='portfolio-single-project.html')
                      .image-icon-holder
                        span.ion-link.image-icons
                  // /portfolio hover content
                // /mask
              // /portfolio hover
              .portfolio-text.mt20.mb5
                h3.portfolio-title
                  a(href='portfolio-single-project.html') Metal
                .project-category Print

            li.item.col-sm-3.col-xs-6(onclick='', data-sr='enter bottom')
              .view-circle.img-circle.image-hover-1
                // Project Thumb
                img.img-responsive(src='images/projects/thumbs/illustration2.jpg', alt='...')
                .mask.img-circle
                  .image-hover-content
                    // Zoom + Project Link
                    a.info.image-zoom-link(href='images/projects/illustration2.jpg')
                      .image-icon-holder
                        span.ion-ios7-search.image-icons
                    a.info(href='portfolio-single-project.html')
                      .image-icon-holder
                        span.ion-link.image-icons
                  // /portfolio hover content
                // /mask
              // /portfolio hover
              .portfolio-text.mt20.mb5
                h3.portfolio-title
                  a(href='portfolio-single-project.html') Bridge
                .project-category Print

    .background-light-grey.pt40.pb40.border-top
      .container
        // Begin Carousel + Content
        .row
          // Begin Carousel
          .col-sm-4(data-sr='enter left')
            #homeCarousel2.carousel.slide(data-ride='carousel')
              // Indicators
              ol.carousel-indicators
                li.active(data-target='#homeCarousel2', data-slide-to='0')
                li(data-target='#homeCarousel2', data-slide-to='1')
                li(data-target='#homeCarousel2', data-slide-to='2')
              // Wrapper for slides
              .carousel-inner
                .item.active
                  div(style="background-image:url('images/backgrounds/stock2.jpg'); height:260px;")
                .item
                  div(style="background-image:url('images/backgrounds/stock7.jpg'); height:260px")
                .item
                  div(style="background-image:url('images/backgrounds/stock1.jpg'); height:260px")
              // Controls
              a.left.carousel-control(href='#homeCarousel2', role='button', data-slide='prev')
                span.ion-ios7-arrow-left.carousel-arrow-left(aria-hidden='true')
              a.right.carousel-control(href='#homeCarousel2', role='button', data-slide='next')
                span.ion-ios7-arrow-right.carousel-arrow-right(aria-hidden='true')

          .col-sm-8(data-sr='enter right')
            .heading.mb20.mt30-xs
              h4
                span.ion-beaker.mr15
                | The Studio
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia, 
              a.tooltip-active(data-toggle='tooltip', data-placement='top', title='Tooltip on top') adipiscing
              |  nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.

            ul.list-arrow-2-color.no-margin
              li
                small Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. 
              li
                small Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.
              li
                small Nulla volutpat aliquam velit
              li
                small Faucibus porta lacus fringilla vel

    section.pt40.mb40.border-top
      .container
        .row
          .col-lg-12
            .heading.mb30
              h4
                span.ion-android-social-user.mr15
                | Recent Cases
              .owl-controls
                #customNav.owl-nav
            #owl-carousel-thumb.owl-carousel(data-sr='enter top')
              .thumbnail
                .caption.v-wrap
                  .thumbnail-caption-holder.v-box
                    h4.text-white The Latia Project
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock1.jpg', alt='...')
              .thumbnail
                .caption
                  .thumbnail-caption-holder
                    h4.text-white Goose UI
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock2.jpg', alt='...')
              .thumbnail
                .caption
                  .thumbnail-caption-holder
                    h4.text-white Schroder's List
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock3.jpg', alt='...')
              .thumbnail
                .caption
                  .thumbnail-caption-holder
                    h4.text-white NO Pelicans
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock4.jpg', alt='...')
              .thumbnail
                .caption
                  .thumbnail-caption-holder
                    h4.text-white Fanbango
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock5.jpg', alt='...')
              .thumbnail
                .caption
                  .thumbnail-caption-holder
                    h4.text-white The Latia Project
                    a.btn.btn-rw.btn-clear(href='#')
                      span.ion-android-search
                      |  View
                img(src='images/backgrounds/stock6.jpg', alt='...')
        .row
          // Client 1
          .col-sm-2.col-xs-4.mb30-xs(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/boomerang.png', alt='Client 1')
          // Client 2
          .col-sm-2.col-xs-4.mb30-xs(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/backlight.png', alt='Client 2')
          // Client 3
          .col-sm-2.col-xs-4.mb30-xs(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/equi.png', alt='Client 3')
          // Client 4
          .col-sm-2.col-xs-4(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/ome.png', alt='Client 4')
          // Client 5
          .col-sm-2.col-xs-4(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/euro.png', alt='Client 5')
          // Client 6
          .col-sm-2.col-xs-4(data-sr='enter left')
            a(href='#')
              img.img-responsive.clients-img(src='images/logos/micro.png', alt='Client 6')

block javascript
