#header { border-bottom: 1px solid #c1e2c8; border-top: 3px solid #688f4c; }
#header-out { background-color: #def0d0; }
#wrapper, #slider-bg-shadow { background-color: #f2f8f5; }

body { color: #8e9986; }
a:link, a:visited , .nav a, .slide-content .title, .post .title a:link, .post .title a:visited { color: #549722; }
.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #f2f4f1; }
.slide-nav { border-color: #789a5d }

.nav li ul , .nav li ul li, .searchform, #tabs .inside li, #tabs .inside ul, #tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #tabs #tab-tags, #tabs .inside li img.avatar, #tabs .inside li img.thumbnail, #comments .comment.thread-even, #comments .comment.thread-odd, #comments .comment.bypostauthor, #comments  .avatar img, #comments .reply a, #comments ul.children li, #respond, .slide .video, .entry img, img.thumbnail, .entry .wp-caption, #post-author, #post-author .profile-image , .widget_woo_blogauthorinfo .avatar, .widget_woo_twitter ul li,  .widget_woo_embedwidget .widget-video-unit { border-color: #cbd9bf; }

/* Images */
.slide-nav li.current { background-image: url(green/slider-current.png); }

table.pricing .button, table.pricing .button:visited { background: #549722 url(green/alert-overlay.png); padding: 8px 25px 8px 25px;}
