#header { border-bottom: 1px solid #e2e2e2; border-top: 3px solid #8f8f8f; }
#header-out { background-color: #fdfdfd; }
#wrapper, #slider-bg-shadow  { background-color: #fff; }

body { color: #9b9b9b; }
.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a { background: #f4f4f4; }
.slide-nav { border-color: #ddd }

.nav li ul , .nav li ul li, .searchform, #tabs .inside li, #tabs .inside ul, #tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #tabs #tab-tags, #tabs .inside li img.avatar, #tabs .inside li img.thumbnail, #comments .comment.thread-even, #comments .comment.thread-odd, #comments .comment.bypostauthor, #comments  .avatar img, #comments .reply a, #comments ul.children li, #respond, .slide .video, .entry img, img.thumbnail, .entry .wp-caption, #post-author, #post-author .profile-image , .widget_woo_blogauthorinfo .avatar, .widget_woo_twitter ul li,  .widget_woo_embedwidget .widget-video-unit { border-color: #d8d8d8; }

/* Images */
.slide-nav li.current { background-image: url(white/slider-current.png); }

table.pricing .button, table.pricing .button:visited { background: #225F97 url(white/alert-overlay.png); padding: 8px 25px 8px 25px;}
