/*>>>>> Setup and Reset <<<<<*/

body  {
	color: #2a2a2a;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6  {
	color: #2a2a2a;
}

/*>>>>> Navigation <<<<<*/

a:link, a:visited  {
	color: #e51801;
}

#nav li a:link, #nav li a:visited  {
	color: #fff;
	background: url(green_red/navtile.jpg) repeat-x left bottom;
}

/* Orange Tab */

#nav li.buynow a:link, #nav li.buynow a:visited  {
	background: url(green_red/navtileorange.jpg) repeat-x left bottom;
}

#nav li.buynow a:hover  {
	background: #fff;
}

#home #nav li.buynow a:hover  {
	background-color: #faeeb7;
}

/* Hover for HomePage tabs */

#home #nav li.current_page_item a:link, #home #nav li.current_page_item a:visited, #home #nav li a:hover  {
	color: #000;
	background: #faeeb7;
}

/* Hover for normal page tabs */

#nav li.current_page_item a:link, #nav li.current_page_item a:visited, #nav li a:hover  {
	color: #000;
	background: #fff;
}

/* Style drop down list */

#home #nav li ul  {
	background: #faeeb7;
	border: 1px solid #d2c89a;
}

#home #nav li ul li {
	background-color: #faeeb7;
	border-bottom: 1px solid #d2c89a;
}

#nav li ul  {
	background: #fff;
	border: 1px solid #b3b3b3;
}

#nav li ul li {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

#nav li ul li a:link, #nav li ul li a:visited {
	color: #2d2d2d;
	background: none!important;
}

#nav li ul li a:hover  {
	background-color: none!important;
}

/*>>>>> Layout <<<<<*/

#header  {
	background: url(green_red/headerbg.jpg) repeat-x left top;
}

#featured  {
	border-top: 1px solid #fff;
	background-color: #faeeb7;
}

#featured .inner  {
	background: url(green_red/featuredbg.jpg) no-repeat center top;
}

#featured #text h2  {
	color: #000;
}

#featured #text p  {
	color: #000;
}

#featured #text #buttons a.more  {
	color: #000;
}

#featured #text #buttons a:hover  {
	color: #ff2c2b;
}

#featured #text #buttons a span.left  {
	background: url(green_red/featuredbuttonleft.png) no-repeat left bottom;
}

#featured #text #buttons a span.middle  {
	background: url(green_red/featuredbuttontile.png) repeat-x left bottom;
}

#featured #text #buttons a span.right  {
	background: url(green_red/featuredbuttonright.png) no-repeat left bottom;
}

#main_content  {
	border-top: 1px solid #fff;
	background: url(green_red/contenttopbg.jpg) repeat-x left top;
}

#main_content .item img  {
	border: 1px solid #e2e2e2;
}

#main_content .item a.more_info  {
	background: url(green_red/morearrow.gif) no-repeat right center;
}

#breadcrumb  {
	border-bottom: 1px solid #e2e2e2;
}

.post  {
	border-bottom: 1px solid #e2e2e2;
}

.post h2.title a:link, .post h2.title a:visited  {
	color: #000;
}

.post p.meta  {
	color: #9f9f9f;
}

.post p.meta a:link, .post p.meta a:visited  {
	color: #9f9f9f;
}

.post p.meta a:hover  {
	color: #057d9f;
}

.post .post_bottom .readmore a:link, .post .post_bottom .readmore a:visited  {
	background: url(green_red/morearrow.gif) no-repeat right center;
}

.post .post_bottom .comments a:link, .post .post_bottom .comments a:visited  {
	color: #3f3f3f;
	background-color: #eaeaea;
	border: 1px solid #d4d4d4;
}

.post .post_bottom .comments a:hover  {
	background-color: #d4d4d4;
}

#sidebar h3  {
	color: #000;
}

#subscribe ul  {
	border-top: 1px solid #e2e2e2;
}

#subscribe ul li  {
	border-bottom: 1px solid #e2e2e2;
}

#subscribe ul li a:link, #subscribe ul li a:visited  {
	color: #2d2d2d;
}

#subscribe ul li.rss a  {
	background: url(green_red/rss.jpg) no-repeat 5px center;
}

#subscribe ul li.email a  {
	background: url(green_red/email.jpg) no-repeat 5px center;
}

.widget ul  {
	border-top: 1px solid #e2e2e2;
}

.widget ul li  {
	border-bottom: 1px solid #e2e2e2;
}

.widget ul li a:link, .widget ul li a:visited  {
	color: #2d2d2d;
	background: url(green_red/widgetbullet.gif) no-repeat 5px center;
}

.widget ul li a:hover  {
	background-color: #efefef;
}

#flickr .images  {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

#search,
#feedburner,
#campaignmonitor  {
	border-bottom: 1px solid #E2E2E2;
}

#search input.field,
#feedburner input.field,
#campaignmonitor input.field  {
	border: 1px solid #E2E2E2;
}

#twitter a  {
	background: none;
}

/*>>>>> Page Navi <<<<<*/

.pagenavi .on  {
	background-color: #9dbc6f;
	color: #fff;
}

/*>>>>> FOOTER <<<<<*/

#footer  {
	color: #fff;
	background: #9dbc6f url(green_red/footertopbg.jpg) repeat-x left top;
}

#footer h3  {
	color: #fff;
}

#footer a:link, #footer a:visited  {
	color: #fff;
}

#footer #contact  {
	background: url(green_red/contactbg.jpg) repeat-y left top;	
}

/*>>>>> Comment Styles <<<<<*/

#comments h3.count  {
	color: #000;
}

#comments ol li   {
	border-bottom: 1px solid #e2e2e2;
}

#comments ol li.alt   {
	background-color: #efefef;
}

#comments ol li.bypostauthor .author_id   {
	color: #fff;
	background-color: #057d9f;
}

#comments ol li .comment_meta .gravatar img   {
	background-color: #fff;
	border: 1px solid #e2e2e2;
}

#comments ol li .comment_meta .details span.author  {
	color: #000;
}

#comments ol li .comment_meta .details span.author a:link, #comments ol li .comment_meta .details span.author a:visited  {
	color: #000;
}

#comments ol li.auth_comment .comment_meta .details span.author a:link, #comments ol li.auth_comment .comment_meta .details span.author a:visited  {
	color: #057d9f;
}

#comments ol li .comment_meta .details span.date  {
	color: #9f9f9f;
}

#comments ol li .comment_meta .details span.date a:link, #comments ol li .comment_meta .details span.date a:visited  {
	color: #9f9f9f;
}

#respond h3  {
	color: #000;
}

#respond input, #respond textarea  {
	border: 1px solid #e2e2e2;
	background-color: #efefef;
}

#respond input.submit  {
	color: #000;
	background: url(green_red/submitbg.jpg) repeat-x left top;
}

/*>>>>> Post Styles <<<<<*/

.entry blockquote  {
	color: #666;
}

/* Post Images */

.entry img  {
	border: 1px solid #e2e2e2;
}

.entry .wp-caption img  {
	border: none;
}

img.wp-smiley  {
	border: none;
}

/*>>>>> Sitemap and Archives Templates <<<<<*/

.block  {
	border-bottom: 1px solid #e2e2e2;
}