footer.footer
  .container
    .row
      .col-sm-3
        .heading-footer
          h4 About
          p Raleway Bootstrap 3 Template is what you need for your next project or client.
          a.btn.btn-primary.btn-rw.mt10(href='features.html')
            | Buy now

      .col-sm-3.mg25-xs
        .heading-footer
          h4 Social Networks
        a.btn.btn-social-icon.btn-twitter.btn-lg
          i.fa.fa-twitter
        a.btn.btn-social-icon.btn-instagram.btn-lg
          i.fa.fa-instagram
        a.btn.btn-social-icon.btn-facebook.btn-lg
          i.fa.fa-facebook
        a.btn.btn-social-icon.btn-vimeo.btn-lg
          i.fa.fa-vimeo-square
        a.btn.btn-social-icon.btn-linkedin.btn-lg
          i.fa.fa-linkedin
        a.btn.btn-social-icon.btn-google-plus.btn-lg
          i.fa.fa-google-plus
        a.btn.btn-social-icon.btn-adn.btn-lg
          i.fa.fa-adn
        a.btn.btn-social-icon.btn-bitbucket.btn-lg
          i.fa.fa-bitbucket
        a.btn.btn-social-icon.btn-tumblr.btn-lg
          i.fa.fa-tumblr
        a.btn.btn-social-icon.btn-flickr.btn-lg
          i.fa.fa-flickr

      .col-sm-3.mg25-xs
        .heading-footer
          h4 Contact us
          p
            span.ion-home.footer-info-icons
            small.address 228 Park Ave S New York, NY 10003
          p
            span.ion-email.footer-info-icons
            small.address
              a(href='mailto:info@raleway.com') info@raleway.com
          p
            span.ion-ios7-telephone.footer-info-icons
            small.address +11192386513

        .col-sm-3.hidden-xs
          .heading-footer
            h4 Recent Work
          .col-xs-4.recent-work-padding
            a.thumbnail.image-zoom-link(href='images/projects/web2.jpg')
              img.thumbnail.img-responsive(src='images/projects/thumbs/web2.jpg', alt='...')
          .col-xs-4.recent-work-padding
            a.thumbnail.image-zoom-link(href='images/projects/web3.jpg')
              img.thumbnail.img-responsive(src='images/projects/thumbs/web3.jpg', alt='...')
          .col-xs-4.recent-work-padding
            a.thumbnail.image-zoom-link(href='images/projects/illustration1.jpg')
              img.thumbnail.img-responsive(src='images/projects/thumbs/illustration1.jpg', alt='...')

    .row
      hr
      .col-sm-11.col-xs-10
        p.copyright
          | © 2016 1st choice business solutions. All rights reserved. Powered by 
          b Guerrilla UI
          | .
      .col-sm-1.col-xs-2.text-right
        a.scroll-top(href='#')
          .footer-scrolltop-holder
            span.ion-ios7-arrow-up.footer-scrolltop

