doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Denis Samardjiev')
    meta(name='description', content='1st Choice Business Solutions')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    
    title 1st Choice Solutions
    
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='js/guerrilla/jquery.gui.min.js')
    script(type='text/javascript', src='js/royal_preloader.min.js')
    
    link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')
    link(rel='stylesheet', type='text/css', href='revolution/css/settings.css')
    link(rel='stylesheet', type='text/css', href='revolution/css/layers.css')
    link(rel='stylesheet', type='text/css', href='revolution/css/navigation.css')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet', title='main-css')
    link(href='css/bootstrap-social.css', rel='stylesheet')
    link(href='css/animate.min.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/jquery.snippet.css', rel='stylesheet')
    link(href='css/buttons.css', rel='stylesheet')
    link(href='css/colors/dark-blue.css', rel='stylesheet')

    link(href='css/ionicons.min.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
    link(href='css/magnific-popup.css', rel='stylesheet', type='text/css')
  
  body.royal_preloader.scrollreveal
    #royal_preloader

    include header
    
    block content
    
    include footer
    
     // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );

    script(type='text/javascript', src='revolution/js/jquery.themepunch.tools.min.js')
    script(type='text/javascript', src='revolution/js/jquery.themepunch.revolution.min.js')
    
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.actions.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.carousel.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.kenburn.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.layeranimation.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.migration.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.navigation.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.parallax.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.slideanims.min.js')
    script(type='text/javascript', src='revolution/js/extensions/revolution.extension.video.min.js')
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/guerrilla/app.js')
    
    // Slider Revolution Main
    script(type='text/javascript').
      jQuery(document).ready(function() {
        jQuery("#slider1").revolution({
            sliderType:"standard",
            startDelay:2500,
            spinner:"spinner2",
            sliderLayout:"auto",
            viewPort:{
            enable:false,
            outof:'wait',
            visible_area:'100%'
            },
            delay:9000,
            navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                arrows: {
                    style:"erinyen",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    tmp:'<div class="tp-title-wrap">      <div class="tp-arr-imgholder"></div>    <div class="tp-arr-img-over"></div> <span class="tp-arr-titleholder">{{title}}</span> </div>',
                    left: {
                        h_align:"left",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    },
                    right: {
                        h_align:"right",
                        v_align:"center",
                        h_offset:30,
                        v_offset:0
                    }
                },
                touch:{
                    touchenabled:"on",
                    swipe_treshold : 75,
                    swipe_min_touches : 1,
                    drag_block_vertical:false,
                    swipe_direction:"horizontal"
                },
                bullets: {
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    style:"hermes",
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    direction:"horizontal",
                    h_align:"center",
                    v_align:"bottom",
                    h_offset:0,
                    v_offset:30,
                    space:5
                }
            },
            gridwidth:1240,
            gridheight:497
        });
      });

    block javascript
