/* Style: Book */

body { background: #f9f5ea; color: #45331d; }

body, h1, h2, h3, h4, h5, h6, #logo .site-title, #footer p, .post .meta, .entry .wp-caption-text, h3.archive_year {
font-family: georgia, serif; }

h1, h2, h3, h4, h5, h6 { color: #c0c0c0; }

a:link, a:visited, .post .meta a, #archives .archives_list .comments a, .widget_woo_retreattwitter, .widget_woo_retreattwitter .tweet .username a { color: #691009; }

.post .meta ul li.comments, #archives .archives_list .comments { background: url(book/ico-bubble.png) no-repeat 0px 7px; }

#nav a { color: #efe5d3; }
#nav a:hover, .nav li.current_page_item a { color: #dab1a5; }

#logo { background: url(book/ribbon-top.png) no-repeat top left; margin-left: 1px; }
#logo img { padding-left: 20px; }
.ribbon .search { background: url(book/ribbon-search.png) no-repeat top left; height: 116px; }
.ribbon .search input.field { color: #847a6c; text-shadow: 0 1px 0 white;  }
#nav { background: url(book/ribbon-bg.png) repeat-y top left; }

.post .title a:link, .post .title a:visited, #commentsheader h3 { color: #716655; text-shadow: white 1px 1px 0px; }
.post .title, #commentsheader h3 { border-bottom: 3px solid #504d47; }

.post .meta ul li, .post .title, .wp-pagenavi span.pages, #commentsheader h3, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .widget h3, #sidebar .widget ul li a, .widget_woo_retreattwitter .tweet .username {
text-shadow: #fff 1px 1px 0px; }

#comments .avatar-box .overlay { background: url(book/grav-overlay.png) no-repeat;}
.widget_woo_retreattwitter .tweet span.overlay { background: url(book/twitter-overlay.png) no-repeat;}

.respond-head { background: url(book/res-head.png) no-repeat top left; }
.respond-form { background: url(book/res-bg.png) repeat-y top left; }
.respond-btm { background: url(book/res-btm.png) no-repeat top left; }

#commentform input.txt, #commentform textarea { background-color: #56534d; border-top: 1px solid #504d47; border-bottom: 1px solid #1c1b16; }
#respond a { color: #fff; }

#footer-widgets h3 { color: #2b1e0d; }
#footer { background-color: #f3eddb; border-top: 1px solid #e7e1d0; }
#footer p { color: #8c6639; text-shadow: #fff 1px 1px 0px; }
#footer-outer { background-color: #f3eddb; border-top: 1px solid #e7e1d0; 
}

.ac_results { padding: 5px; text-shadow: 0 1px 0 black; background: #504d47; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #000; }
.ac_results a { color: #fff; }
.ac_results ul li:hover { background: #716655; }


/* BUTTONS */

/* Small button */
a.but, .meta-but a, .post-more a {
	display: inline-block;
	width: 110px;
	margin-bottom: 10px;
	padding: 0px 20px;
	border: 1px solid #bfbaaf;
	border-bottom-color: #bfbaaf;
	color: #292929 !important;
	font-weight: bold; font-size: 12px !important;
	text-align: center;
	text-shadow: 0 1px 0 white;
	text-decoration: none;
	
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/*Background*/
	background: #e5e5e5; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f6f3ef),
					color-stop(1, #e6dfd3)
				);
	background: -moz-linear-gradient(
					center top,
					#f6f3ef 20%,
					#e6dfd3 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
						0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
}
 
a.but:hover,
a.but.hover,
a.but.active,
.post-more a:hover,
.post-more a.hover,
.post-more a.active,
.meta-but a:hover,
.meta-but a.hover,
.meta-but a.active {
	/*Background*/
	background: #dcdcdc; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e6dfd3),
					color-stop(1, #f6f3ef)
				);
	background: -moz-linear-gradient(
					center top,
					#e6dfd3 20%,
					#f6f3ef 100%
				);
}
 
a.but:active,
a.but.active,
.post-more a:active,
.post-more a.active,
.meta-but a:active,
.meta-but a.active {
	border-color: #b6b6b6;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}
 
a.but.inactive,
.post-more a.inactive,
.meta-but a.inactive {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;
	
	/*Background*/
	background: #e8e8e8; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f3f3f3),
					color-stop(1, #e6e6e6)
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
						0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
}

/* Large button */
a.but-lrg {
	display: inline-block;
	width: 460px;
	margin-bottom: 10px;
	padding: 5px 20px;
	border: 1px solid #bfbaaf;
	border-bottom-color: #bfbaaf;
	color: #292929 !important;
	font-weight: bold; font-size: 13px !important;
	text-align: center;
	text-shadow: 0 1px 0 white;
	text-decoration: none;
	
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/*Background*/
	background: #e5e5e5; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f6f3ef),
					color-stop(1, #e6dfd3)
				);
	background: -moz-linear-gradient(
					center top,
					#f6f3ef 20%,
					#e6dfd3 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
						0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
}
 
a.but-lrg:hover,
a.but-lrg.hover,
a.but-lrg.active {
	/*Background*/
	background: #dcdcdc; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e6dfd3),
					color-stop(1, #f6f3ef)
				);
	background: -moz-linear-gradient(
					center top,
					#e6dfd3 20%,
					#f6f3ef 100%
				);
}
 
a.but-lrg:active,
a.but-lrg.active {
	border-color: #b6b6b6;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}
 
a.but-lrg.inactive {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;
	
	/*Background*/
	background: #e8e8e8; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f3f3f3),
					color-stop(1, #e6e6e6)
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
						0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
}


/* Reply button */
.reply a {
	display: inline-block;
	width: 60px;
	margin-bottom: 10px;
	padding: 0px 5px;
	border: 1px solid #bfbaaf;
	border-bottom-color: #bfbaaf;
	color: #292929 !important;
	font-weight: bold; font-size: 13px !important;
	text-align: center;
	text-shadow: 0 1px 0 white;
	text-decoration: none;
	
	/*Border radius*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	/*Background*/
	background: #e5e5e5; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f6f3ef),
					color-stop(1, #e6dfd3)
				);
	background: -moz-linear-gradient(
					center top,
					#f6f3ef 20%,
					#e6dfd3 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
						0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
					0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
				0 1px 2px hsla(0, 0%, 0%, .19) /*Shadow*/;
}
 
.reply a:hover,
.reply a.hover,
.reply a.active {
	/*Background*/
	background: #dcdcdc; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #e6dfd3),
					color-stop(1, #f6f3ef)
				);
	background: -moz-linear-gradient(
					center top,
					#e6dfd3 20%,
					#f6f3ef 100%
				);
}
 
.reply a:active,
.reply a.active {
	border-color: #b6b6b6;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}
 
.reply a.inactive {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;
	
	/*Background*/
	background: #e8e8e8; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f3f3f3),
					color-stop(1, #e6e6e6)
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
						0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/, 
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
}

/*Submit Button*/

.form-btn, .form-btn:visited { background-color: #191814; }
.form-btn, .form-btn:visited { text-shadow: 0 -1px 1px #000; }
.form-btn, .form-btn:visited { -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border: 1px solid rgba(0,0,0,.25); border-bottom-color: rgba(0,0,0,.35); }
.form-btn:hover { opacity:0.9; }