#wrapper {
  background-image: url("chrome/bg.png");
  border-bottom: 1px solid #a5a5a5;
  border-top: 4px solid #646464;
}

#footer-wrapper {
  border-top: 4px solid #8e8e8e;
}


#navigation-out {
  background-color: #646464;
  border-bottom: 1px solid #373737;
  border-top: 1px solid #3a3a3a;
}

#navigation {
  background-color: #3a3a3a;
}

#navigation .nav li a {
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #232323;
}

.nav a:hover, .nav li.current_page_item a, .nav li.current_page_parent a, .nav li.current-menu-ancestor a, .nav li.current-cat a, .nav li.current-menu-item a, .nav li.sfHover {
  background-color: #4a4a4a;
  box-shadow: 0 1px 0 #717171 inset;
}

.nav li ul {
  background-color: #4a4a4a;
  border-color: #232323;
}

.nav li ul li a:hover {
  background-color: #3a3a3a !important;
}

#search-top form, .searchform {
  border-color: #222;
  box-shadow: 0 5px 4px #3d3d3d inset;
}

.searchform {
  background: #484848;
  border-color: #747474;
}

.searchform input.s {
  color: #7f7f7f;
}

#search-top input.search-submit {
  background-color: #2b2b2b;
}

#search-top input.search-submit:hover {
  background-color: #383838;
}

.post .post-date {
  background-color: #3a3a3a;
  color: #646464;
}

.entry img, img.thumbnail, 
#tabs .inside li img.avatar, #tabs .inside li img.thumbnail,
#comments .avatar img ,
ol.portfolio li img, ol.dribbbles li img,
#loopedSlider.gallery .pagination li img,
#loopedSlider.gallery .slides img, #gallery img {
  background-color: #393939;
  border-color: #707070;
}

.woo-pagination a:link, .woo-pagination a:visited, .woo-pagination a:active {
  background: none repeat scroll 0 0 #3a3a3a;
  border: 1px solid #707070;
}


#tabs ul.wooTabs {
  background-color: #393939;
  border-color: #272727;
  box-shadow: 0 1px 0 #747474;
}

#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #comments .reply a:hover, .port-cat a:hover {
  background-color: #2f2f2f;
}

#post-author, #author-twitter {
  border-color: #707070;
}

#comments .reply a, .port-cat a {
  background-color: #484848;
}


h1, h2, h3, h4, h5, h6,
.post .title a:link, .post .title a:visited,
.post .post-comments .comments a,
.post p.tags,
.entry blockquote,
.woo-pagination a:link,
.woo-pagination a:visited,
.woo-pagination span.extend, .woo-pagination .page-numbers,
.woo-pagination .current, .woo-pagination a:hover,
.page-template-template-team-php p,
.widget,
.widget ul li a,
.widget_woo_twitter ul li .time,
.widget_woo_twitter p a,
.widget_woo_archives li a,
#tabs .inside #tab-tags a,
#tabs .inside li span.meta,
#comments h3, #respond h3,
#comments .comment-head,
#comments .comment-author,
#respond label,
ol.portfolio li span, ol.portfolio li span, ol.dribbbles li em,
.port-cat a,
.widget_woo_feedback .btn-next
{
  color: #d4d4d4;
  text-shadow: 0 1px 0 #333;
}

#slides .slides_holder {
  background-color: #393939;
  border: 1px solid #717171;
}

.slide-content.slide-overlay {
  background-color: rgba(113, 113, 113, 0.6); 
}

.slide-content .navigation a {
  color: #6e6e6e;
}

#home-widgets .widget h3 {
  background-color: #393939;
  border: 1px solid #272727;
  box-shadow: 0 1px 0 #747474;
}

#commentform input.txt, #commentform textarea, #contact-page input.txt, #contact-page textarea {
  color: #878787;
  background-color: #484848;
  border-color: #747474;
  box-shadow: 0 5px 4px #414141 inset;
}


#home-widgets .widget_woo_git ul li span {
  color: #343434;
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

#home-widgets .widget h3 span {
  background: none;
}

.widget_woo_feedback .btn-next {
  background-image: url("chrome/ico-feedback-next.png");
}

#tabs .fold {
  background: url("chrome/tabs-fold.png") no-repeat scroll left top transparent;
}

a.button, 
#commentform #submit,
.submit,
a.button:hover, 
a.button.hover, 
a.button.active, 
#commentform #submit:hover,
.submit:hover {
	border-color: #747474;
	color: #878787 !important;
	background: #484848; 
}

a.button:hover, 
a.button.hover, 
a.button.active, 
#commentform #submit:hover,
.submit:hover {
	opacity:0.8;
}

#connect {
  border: 1px solid #3c3c3c;
}

#main .newsletter-form {
  border: 1px solid #3a3a3a;
}

#connect .newsletter-form .email {
  color: #717171;
}

.widget_woo_subscribe form {
  background: none repeat scroll 0 0 #262626;
  border: 1px solid #3a3a3a;
  box-shadow: 0 5px 4px #222 inset;
}

#connect .newsletter-form .submit {
  background-color: #171717;
}