body {
	background:#370f00 url(firey/nav-back.jpg) repeat-x top center;
	font:normal 0.81em Arial, Helvetica, sans-serif; color:#c49658;
}

blockquote {
	background:#381303 url(firey/blockquote.jpg) no-repeat top left;
	font:0.92em Arial, Helvetica, sans-serif; color:#907d40;
}

label {
	font:bold 0.92em Arial, Helvetica, sans-serif; color:#b0662b;
}

/* 01 - TYPOGRAPHY
/* ----------------------------------------------*/

/* Headings */

h2 {
	color:#deaa31;
}

h2.lifestream_date {
	margin:15px 0 8px 0; padding:15px 0 0 0;
	text-indent:0px;
	font:0.85em Arial, Helvetica, sans-serif; color:#daceb2;
	border-top:1px solid #572108;
}

h2.lifestream_date_first {
	margin:15px 0 8px 0; padding:0;
	text-indent:0px;
	font:0.85em Arial, Helvetica, sans-serif; color:#daceb2;
}

h3 {
	/* Post/Page Titles*/
	margin:0 -18px 18px -18px; padding:9px 18px 19px 18px;
	font:bold 2.15em Arial, Helvetica, sans-serif; color:#e9f6e9;
	border-bottom:1px solid #421500;
}

h4 {
	/* Meta/Category Title*/
	margin:0; padding:0;
	font:1.85em Arial, Helvetica, sans-serif; color:#eece83;
}

	h4.post-category {
		/* With Divider */
		margin:0 18px 0 0; padding:0 18px 0 0;
		border-right:1px solid #522100;
		display:inline; line-height:55px; vertical-align:middle;
	}
	
	h4.single-info {
		/* With Divider */
		margin:0; padding:0;
		display:inline; line-height:55px; vertical-align:middle;
	}

h5 {
	margin:0 -8px 15px -8px; padding:0 8px 10px 8px;
	font:1.38em Arial, Helvetica, sans-serif; color:#e7c563;
	border-bottom:2px solid #55280a;
}

	h5.footer-title {
		margin:0; padding:0;
		font:1.08em Arial, Helvetica, sans-serif; color:#d1922a;
		border-bottom:0;
	}

h6 {
	margin:0; padding:0;
	font:0.77em Georgia, "Times New Roman", Times, serif; color:#f1d681;
	text-transform:uppercase;
}

/* Links */

a:link, a:active, a:visited {
	color:#FFF;
	text-decoration:none;
}

	h3 a:link, h3 a:active, h3 a:visited {
		color:#e9f6e9;
	}
	
	h4 a:link, h4 a:active, h4 a:visited {
		color:#eece83;
	}
	
	h5 a:link, h5 a:active, h5 a:visited {
		color:#9cadc2;
	}

	#top-links a {
		font:0.92em Arial, Helvetica, sans-serif; color:#bb4f0e;
	}
	
	#navigation a {
		margin:0; padding:21px 22px 0 22px;
		width:auto; height:55px;
		font:1.23em Arial, Helvetica, sans-serif; color:#deaa31;
		/* IE6 Needs inline-block otherwise width:auto; spans 100% */
		display:inline-block;
	}
	
		#navigation a span {
			font:0.69em Arial, Helvetica, sans-serif; color:#dfdcf1;
			display:block;
		}
		
		
	#twitter_update_list li a {
		color:#f1d681; text-decoration:underline;
	}
	
	.post-meta span a {
		color:#faf9fa;
	}
	
	.lifestream-content a, #right-col li ul li a, #tag_cloud a {
		color:#b3ae75;
	}
	
	#footer-list li ul li a {
		font:1.00em Arial, Helvetica, sans-serif; color:#f9eedf;
	}
	
	a.woothemes:link, a.woothemes:active, a.woothemes:visited {
		text-indent:-9999px; color:#dfaa33;
	}

a:hover {
	text-decoration:underline;
}

	h3 a:hover {
		text-decoration:none;
		color:#b3ae75;
	}

	#navigation a:hover {
		color:#FFF;
		text-decoration:none;
		background:url(../images/nav-hover-trans.png) repeat-x top center;
	}
	
		#navigation span:hover {
			color:#FFF;
		}
	
	#twitter_update_list a:hover {
		color:#FFF; text-decoration:none;
	}

/* Misc */

#top-links {
	color:#bb4f0e;
}

.search-box {	
	font:0.92em Arial, Helvetica, sans-serif; color:#f6d6ab;
}

#twitter_update_list {
	margin:8px 0 0 0; padding:0;
	font:1.92em Georgia, "Times New Roman", Times, serif; color:#954d0f;
	list-style:none; display:block;
}
	
.post-meta span {
	font:0.85em Arial, Helvetica, sans-serif; color:#cf951a;
	line-height:55px; vertical-align:middle;
}

.continue-reading {
	margin:0; padding:0 0 0 22px;
	width:auto; height:auto;
	background:url(../images/continue-reading.gif) no-repeat center left;
	font:bold 0.92em Arial, Helvetica, sans-serif; color:#6f8cc0;
}

#right-col {
	color:#8d7046;
}

.comment-author {
	color:#b3ae75;
}

.comment-text {
	font:0.92em Georgia, "Times New Roman", Times, serif; color:#8d7046;
}

.input {
	font:0.92em Arial, Helvetica, sans-serif; color:#b48057;
}

.lifestream-content {
	font:0.92em Arial, Helvetica, sans-serif; color:#8d7046;
}

#footer-list li ul li {
	font-size:0.85em; color:#d1b186;
}

#footer-copyright {
	font:0.85em Arial, Helvetica, sans-serif; color:#dfaa33;
}

/* 02 - STRUCTURE
/* ----------------------------------------------*/

#logo {
	background:url(firey/logo-trans.png) no-repeat top left;
}

#main-back {
	background:url(firey/main-back.jpg) no-repeat top center;
}
	
#right-col li {
	background:#441600 url(firey/sidebar-box.jpg) no-repeat top center;
	border-top:1px solid #752800;
	border-right:1px solid #411400;
	border-bottom:1px solid #3b1200;
	border-left:1px solid #411400;
}
	#right-col li ul li {
		background:url(firey/bullet.jpg) no-repeat center left;
	}


#footer-list {
	background:url(firey/footer-divider.jpg) no-repeat top left;
}

	#footer-list li {
		background:url(firey/footer-divider.jpg) no-repeat top right;
	}
	
		#footer-list li ul li {
			background:url(firey/bullet.jpg) no-repeat center left;
		}

#footer-columns {
	background:#3b1200 url(firey/footer-back.jpg) no-repeat bottom center;
	border-top:1px solid #461a00;
}

#footer-repeat {
	background:url(firey/footer-repeat.jpg) repeat-x bottom center;
}
	
	#footer-copyright {
		background:url(firey/footer-copyright.jpg) no-repeat top center;
		margin:0; padding:0;
		width:auto; height:65px;
		line-height:65px;
	}

/* 03 - MISC
/* ----------------------------------------------*/	
	
.post-meta {
	background:url(firey/post-meta-trans.png) top center;
	border-bottom:1px solid #582700;
}
	
	.single-meta {
		background:url(firey/post-meta-trans.png) top center;
		border-top:1px solid #582700;
	}	

.commentlist li.comment-alt {
	background:#3d1500;
	border-top:1px solid #582700;
}

.input {
	margin:0 0 10px 0; padding:6px;
	background:#3e1500;
	border:1px solid #582700;
}

.post img {
	border:1px solid #55280A;
	padding:8px;
	background:#441600;
}

/* 07 - GRAVITY FORMS
/* ----------------------------------------------*/	

.gform_wrapper input,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large,
.gform_wrapper .top_label textarea.textarea {
    color: #fff;
	background:#3e1500;
	border:1px solid #582700;
}

.gform_wrapper input.button {
    border: 0px !important;
    background: transparent url(firey/submit.jpg) no-repeat top left;
    width: 58px;
    height: 25px;
    margin-right: 20px;
    text-indent:-10000px;
}