/* IE6 HACKS */

#nav li ul {
	margin: 55px 0 0 0;
}

#nav li ul ul {
	margin: -26px 0 0 177px;
}

#nav li ul ul ul {
	margin: -26px 0 0 170px;
}

#main_content .item  {
}

#footer #about  {
}

#content  {
	margin: 0 20px 0 0;
}

#sidebar  {
	overflow: hidden;
}

#featured #text #buttons a:link, #featured #text #buttons a:visited  {
	width: 200px;
	margin-right: 20px;
}

#featured #text #buttons a span.middle  {
	position: relative;
}

#featured #text #buttons a span.right  {
	left: 106%;
}