/* IE7 HACKS */

#nav li ul {
	margin: 42px 0 0 0;
}

#nav li ul ul {
	margin: -26px 0 0 178px;
}

#nav li ul ul ul {
	margin: -26px 0 0 170px;
}

#feedburner input.button  {
	margin: 0 0 0 -4px;
}

#featured #text #buttons a:link, #featured #text #buttons a:visited  {
	width: 230px;
}