/*--------------------------------------------------------------
Responsive css 
--------------------------------------------------------------*/

/* Large desktop */
@media (max-width: 1170px) {
    .mt-container {
        width: 99%;
        padding: 0 1%;
    }
    
    .boxed-layout #page {
        width: 100%;
    }
}


/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
    .search-form-main .search-submit {
        width: 10%;
        padding: 0;
    }
    
    .search-form-main label {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .services-wrapper .single-service-wrapper.mt-column-4 {
        margin-bottom: 10px;
        width: 47%;
    }
    
    #colophon .mt-footer-widget {
        width: 47%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .slider-title {
        font-size: 20px;
    }
    
    .slider-title a {
        margin-bottom: 10px;
    }
    
    .homeslider-read-more-button {
        margin: 0;
        padding: 5px 15px;
    }
    
    #site-navigation .menu-toggle {
        background: #a0ce4e none repeat scroll 0 0;
        border: medium none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 25px;
        height: 35px;
        line-height: 35px;
        margin: 22px 0;
        padding: 0;
        text-align: center;
        width: 35px;
    }
    
    .main-menu-wrapper {
        background: #fff none repeat scroll 0 0;
        border-top: 2px solid #a0ce4e;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        display: none;
    }
    
    #site-navigation ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        float: none;
        line-height: 35px;
        margin-left: 0;
        padding: 0 15px;
        position: relative;
    }
    
    #site-navigation ul.sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        border: none;
        margin: 0;
        padding: 0;
        display: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    
    .sub-toggle {
        background: #a0ce4e none repeat scroll 0 0;
        color: #ffffff;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 15px;
        text-align: center;
        top: 3px;
        width: 30px;
        display: block;
    }
    
    .about-section-wrapper .mt-column-2 {
        margin: 15px 0 15px 3%;
        width: 97%;
    }
    
    #section-latest-blog .single-post-wrapper {
        margin-bottom: 20px;
        width: 97%;
    }
    
    #colophon .mt-footer-widget {
        width: 97%;
    }
    
    #primary,
    #secondary,
    .home.blog #primary, 
    .home.blog #secondary {
        float: none;
        margin-bottom: 30px;
        width: 100%;
    }
    
    #section-callaction .aside-style .action-wrap {
        float: none;
        text-align: left;
        width: 100%;
    }
    
    #section-callaction .aside-style .action-wrap .widget-title,
    #section-callaction .aside-style .action-wrap .action-content {
        text-align: center;
    }
    
    #section-callaction .aside-style .action-link {
        margin-top: 20px;
        position: relative;
    }
}


/* Landscape phones and down */

@media (max-width: 640px) {
    .services-wrapper .single-service-wrapper.mt-column-4 {
        width: 97%;
    }
    
    .slider-content {
        display: block;
        font-size: 13px;
    }
    
    #homepage-slider .entry-container-description {
        max-width: 400px;
        padding: 10px;
    }
    
    .slider-title {
        font-size: 18px;
    }
    
    .homeslider-read-more-button {
        font-size: 12px;
        margin: 0;
        padding: 3px 10px;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .slider-content {
        display: none;
    }
    
    #homepage-slider .entry-container-description {
        max-width: none;
        padding: 20px;
        width: 300px;
    }
    
    .left-section,
    .right-section {
        float: none;
        text-align: center;
    }
    
    .left-section .cnt-info {
        margin-left: 15px;
        margin-right: 0;
        padding-right: 0;
    }
    
    .search-form-main .search-submit {
        padding: 0;
        width: 18%;
    }
    
    .search-form-main label {
        width: 82%;
    }
    
    #homepage-slider .bx-controls-direction {
        display: none;
    }
}